/* Sizes
---------------------------------------------------------------------------- */
$xs: 10px;
$s: 16px;
$m: 25px;
$l: 31.5px;
$xl: 66px;

$abstand-xs: $xs;
$abstand-s: 20px;
$abstand-m: 30px;
$abstand-l: 40px;
$abstand-xl: 50px;
$abstand-left-right: 370px;


/* Font Properties
---------------------------------------------------------------------------- */
$font-family-bold: Roboto-Bold;
$font-family-regular: Roboto-Regular;
$body-font-size: $s;
$header-font-size: $xl;
$logo-font-size: $l;
$title-font-size: $m;
$number_of_paintings-font-size: $s;
$card-font-size: $xs;


/* Font Weights
---------------------------------------------------------------------------- */
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 600;


/* Colors
---------------------------------------------------------------------------- */
$dark: #B4B4B4;
$darker: #444444;
$darkest: #222222;
$darken: #000231;

$light: #FFFFFF;
$lighter: #F2F2F2;
$lightest: #F0F0F0;
$lighten: #DDDDDD;

/* Functional Properties
---------------------------------------------------------------------------- */
$text-color: $darkest;
