.main-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: $abstand-left-right;
    margin-right: $abstand-left-right;
    margin-top: $abstand-s;
  

    &__title{
        font-family: $font-family-bold;
        font-size: $logo-font-size;
  }
}


.main{
    padding: $abstand-s 0 $abstand-s 0;


    &__content{
        border-top: solid $border-width $darkest;
        padding: $abstand-xs $abstand-left-right $abstand-xs $abstand-left-right;
    }

    &__content__title{
        font-size: $title-font-size;
        text-decoration: underline;
        text-align: center;
    }
}

::placeholder{
  font-size: 12px;
}

.email{
  font-size: $body-font-size;
  width: 250px;
  margin-top: -$abstand-m;
}

.passwort{
  font-size: $body-font-size;
  width: 250px;
  margin-top: -$abstand-m
}

.anmelden{
  object-fit: cover;
  cursor: pointer;
  margin-bottom: -$abstand-m;
  padding: 3px;
}

.account_erstellen{
  margin-top: $abstand-xs;
  object-fit: cover;
  cursor: pointer;
  padding: 3px;
}

.login{
  border: 1px solid black;
  background-color: $dark;
  padding: $abstand-m $abstand-m $abstand-m $abstand-m;
  height: 400px;
  width: 100%;
  max-width: 1180px;
  min-width: 500px;
  position: relative;
  top: 0;
  transform: translateY(50%);


  &__content{
    border: 1px solid black;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
  }
}


//--------------overlay-----------------//

.main__overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0, 0.75);
  top: 0;
  left:0;
  
}

.overlay_section{
  background-color: $dark;
  height: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.ueberschrift{
  font-family: $font-family-regular;
  background-color: $dark;
  margin-bottom: $abstand-s;
  text-decoration: underline;
  margin-bottom: -$abstand-m;
}



.overlay__content{
  padding-top: $abstand-m;
  min-width: 500px;
  margin-left: $abstand-left-right;
  margin-right: $abstand-left-right;
  border: 1px solid black;
  background-color: $dark;
  position: relative;
  top: 0;
  transform: translateY(50%);

}


#buttonClose {
  z-index: 2;
  position: relative;
  height: $abstand-m;
  width: $abstand-m;
  background-color: $lightest;
  border-radius: 100%;
  float: right;
  top: -470px;
  right: -10px;
}


//--------------overlay: label + input -----------------//

.text__mail__overlay{
  margin-bottom: -$abstand-s;
}

.text__passw__overlay{
  margin-bottom: -$abstand-s;
}

.text__passw__overlay__wdh{
  margin-bottom: -$abstand-s;
}

.email__overlay{
  padding: 3px;
}

.passwd__overlay{
  padding: 3px;
}

.passwd__wdh__overlay{
  padding: 3px;
}

.abschicken__overlay{
  padding: 3px;
}
